
# Python temporary files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Secrets and environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# Operating system files
.DS_Store
